.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container-padding {
  padding: 1px;
  padding-left: 20px;
  padding-right: 20px;
}

.verdana-font{
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}

.center-text {
  text-align: center;
}

.icon-size {
  max-width: 4em;
}

.copyright {
  padding:10px;
}

body {
  font-family: "Lato", sans-serif;
  background: #f1f1f1;
  margin: 0;
}

p {
  line-height: 1.5;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

#contact-icons a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: inline-block;
}


.main {
  margin-left: 300px;
  font-size: 16px;
  padding: 10px 10px;
  background: #f1f1f1;
}

.white-text {
  color: white;
}

.card {
  background-color: white;
  padding: 20px;
  margin: 30px;
  box-shadow: 5px 5px #303030;
  border: 1px solid;
  cursor: pointer;
}
.card a {
  text-decoration: none;
}

.card:hover {
  box-shadow: 7px 7px #303030;
  margin: 25px;
}

code {font-size: 75%;}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  overflow: auto;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  #contact-icons a {font-size: 18px;}
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
  div.main {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  #contact-icons a {
    text-align: center;
    float: none;
  }
}
