.bg {
  background: url('assets/pittsburgh-skyline-1234686.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home-body {
  margin-top:30px;
  height:100%;
}

.white-container {
  padding:40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.left-li {
  float: left;
}

.right-li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

.container-padding {
  padding:1px;
  padding-left:20px;
  padding-right:20px;
}
.background-grey-1{
  height: auto;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(49,49,49,.8));
}

.background-grey-2{
  height: auto;
  background-image: linear-gradient(rgba(49,49,49,.8), rgba(49,49,49,.9));
}

.background-grey-3{
  height: auto;
  background-image: linear-gradient(rgba(49,49,49,.9), rgba(49,49,49,1));
}

.verdana-font{
  color: white;
  font-family: Verdana, Geneva, sans-serif;
}

.center-text {
  text-align: center;
}

.right-text{
  display: inline-block;
  text-align: right;
}

.icon-size {
  max-width: 7em;
}

.copyright {
  padding:10px;
}
